DATABASE_URL='postgresql://postgres:password@localhost:5432/sakemas_bot'
DISCORD_TOKEN='***'

TWITTER_CLIENT_ID='***'
TWITTER_CLIENT_SECRET='***'

VC_ANNOUNCEMENT_CHANNEL='***'
WELCOME_CHANNEL='***'
CAUTION_CHANNEL='***'
INTRODUCTION_CHANNEL='***'
X_POSTER_CHANNEL='***'
